
@{
    ViewBag.Title = "Anasayfa";
}

<!-- Hakkımızda Card -->
<div class="container mt-4">
    <div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
        <div class="card-body">
            <h3 class="card-title">Hakkımızda</h3>
            <p class="card-text">
                Biz, tıbbi asistan dil modelleri ve görsel verilerden anlam çıkaran yapay zeka çözümleri geliştiren, ileri teknoloji odaklı bir inovasyon şirketiyiz. Sağlık teknolojileri ve görsel analiz alanlarında derin öğrenme ve doğal dil işleme (NLP)
                gibi modern yapay zeka tekniklerini birleştirerek, kullanıcı dostu ve yüksek doğrulukta çalışan sistemler üretmeyi amaçlıyoruz.
                Amacımız, yapay zekayı herkes için erişilebilir ve etkili hale getirerek sağlık hizmetlerinde dönüşüm yaratmak ve dijitalleşen dünyada hayat kalitesini artırmaktır. Geleceğin tıbbına katkı sağlayacak, 
                doktorları güçlendirecek ve hasta bakımını iyileştirecek yenilikçi çözümler üretmeye kararlıyız.
            </p>
        </div>
    </div>
</div>

<!-- Tıbbi Asistan Modeli -->
<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-md-5">
            <img src="img/medicalAi.jpeg" alt="Tıbbi Asistan AI" class="img-fluid rounded shadow">
        </div>
        <div class="col-md-7">
            <h4>SinAi (Tıbbi Asistan Dil Modeli)</h4>
            <p>
                Sağlık alanında bilgiye dayalı karar destek sistemleri geliştirmek amacıyla oluşturulan bu dil modeli, TensorFlow kullanılarak eğitildi ve 64 milyon parametreye sahiptir. Bu model, medikal sorulara yanıt verme, hasta özetleri oluşturma gibi görevlerde etkili bir şekilde kullanılmaktadır.
            </p>
        </div>
    </div>
</div>

<!-- Görselden Anlam Çıkaran AI -->
<div class="container mt-5 mb-5">
    <div class="row align-items-center">
        <div class="col-md-5">
            <img src="img/visualAi.jpg" alt="Görsel AI" class="img-fluid rounded shadow">
        </div>
        <div class="col-md-7">
            <h4>VisionAi (Görselden Anlam Çıkaran Yapay Zeka)</h4>
            <p>
                Görsel içeriklerden bilgi elde etmek üzere geliştirilen bu sistem, Transformer kütüphanesi kullanılarak oluşturulmuş ve BLIP (Bootstrapped Language-Image Pretraining) modeli üzerine fine-tune edilmiştir. Sistem, görüntülerden açıklama üretme, obje tanıma ve bağlam yorumlama gibi görevlerde yüksek doğruluk oranına sahiptir.
            </p>
        </div>
    </div>
</div>

